html,
body {
  min-height: 100%;
}
body {
  /* Photo by mnm.all on Unsplash */
  background: url("../images/todo-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
