.todo-list {
  background-color: white;
  opacity: 0.9;
  margin: 30px 0px;
}

.collection .collection-item {
  padding-left: 4rem;
  padding-top: 3rem;
}

.btn-small {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  padding-left: 15px;
}
